.right-site {
    min-height: 100vh;
    background-color: #f4f7fa;
}

.left-site {
    width: 280px;
}

.left-site a.nav-link {
    color: #a9b1b9;
}

.left-site a.nav-link:hover {
    color: #e2e5e8;
}

.left-site a.nav-link.active {
    color: #e2e5e8;
}

.nav-pills .nav-link.active {
    background: none;
}

.content-area {
    background: white
}

.header-item {
    margin-left: 20px;
}

main {
    margin-left: 0;
}

.text-regular {
    color: #76818a;
}

.text-header {
    color: #495057;
}