.right-site {
    min-height: 100vh;
    background-color: var(--mylab-bg-color);
}

.content-area {
    background: var(--mylab-content-area-color)
}

.header-item {
    margin-left: 20px;
}

main {
    margin-left: 0;
}

.text-regular {
    color: var(--mylab-text-regular-color);
}

.text-header {
    color: var(--mylab-text-header-color);
}