@inherits LayoutComponentBase

<div class="d-flex flex-row">
    
    <NavMenu/>

    <div class="d-flex right-site flex-column flex-fill">
        <header class="border-bottom px-4 content-area">
            <nav class="navbar">
                <div class="navbar-brand">
                    My Favorit Portal
                </div>
                <div>
                    <dev class="header-item">John J.J.</dev>
                    <dev class="header-item">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Exit</span>
                    </dev>
                </div>
            </nav>
        </header>

        <main class="flex-grow-1 px-4 container">
            @Body
        </main>

        <footer class="px-4 border-top content-area">
            <div class="my-3">
                <span>© 2021 Company, Inc. All rights reserved.</span>
            </div>
        </footer>
    </div>
</div>

@code{
}