@inherits LayoutComponentBase

<div class="d-flex flex-row">
    <sidebar class="d-flex flex-column flex-shrink-0 p-3 left-site">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="navbar-brand">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                    Home
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                    Orders
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                    Products
                </a>
            </li>
            <li>
                <a href="#" class="nav-link">
                    <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                    Customers
                </a>
            </li>
        </ul>
    </sidebar>

    <div class="d-flex right-site flex-column flex-fill">
        <header class="border-bottom px-4">
            <nav class="navbar">
                <div class="navbar-brand">
                    My Favorit Portal
                </div>
                <div>
                    <dev class="header-item">John J.J.</dev>
                    <dev class="header-item">
                        <i class="bi bi-box-arrow-right"></i>
                        <span>Exit</span>
                    </dev>
                </div>
            </nav>
        </header>

        <main class="flex-grow-1 px-4 container">
            @Body
        </main>

        <footer class="px-4 border-top">
            <div class="my-3">
                <span>© 2021 Company, Inc. All rights reserved.</span>
            </div>
        </footer>
    </div>
</div>