@using MyLab.BlazorClient.Model
@inject AppModel AppModel

<sidebar class="d-flex flex-column flex-shrink-0 left-site">
    <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto ">
        <a href="/" class="text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="navbar-brand">Sidebar</span>
        </a>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        
        @if (AppModel.Sections != null)
        {
            foreach (var appSection in AppModel.Sections)
            {
                <li class="nav-item p-2">
                    <NavLink class="nav-link d-flex flex-row" href="@appSection.Ref">
                        <div class="nav-icon-holder">
                            <i class="fa fa-@appSection.IconId.Replace("fa-", "")"></i>
                        </div>
                        <div class="ms-2">@appSection.Title</div>
                    </NavLink>
                </li>        
            }
        }

    </ul>
</sidebar>

@code {

}
