@using Microsoft.Extensions.Localization
@inject IStringLocalizer<NotFound> Localizer

<div class="body d-flex align-items-center p-3">
    <div class="d-flex justify-content-center flex-fill flex-row h1">
        <i class="fas fa-exclamation-triangle text-warning me-3"></i>
        <p>@Localizer["UrlNotFound"]</p>
    </div>
</div>


@code {
}
